<html>

<head>
	<title>疫情地区</title>
	<meta charset="utf-8">

	<meta content="True" name="HandheldFriendly" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="icon" href="tb.png" type="image/x-icon" />
	<link rel="manifest" href="manifest.json">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link href="static/mdi_font/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="static/vuetify.min.css" rel="stylesheet">
	<script src="static/vue.js"></script>
	<script src="static/vuetify.js"></script>
	<!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->

	<style>
		input {
			width: 100%;
		}

		.v-data-table__mobile-row__cell input {
			text-align: right;
		}
	</style>
</head>

<body style="margin: 0px;">

	<div id="app">
		<v-app>
			<v-card-title>
				人员信息
				<v-spacer></v-spacer>
				&nbsp;
				<v-btn depressed color="primary" @click='app.l人员.push({风险情况:0})'>新增
				</v-btn>
			</v-card-title>
			<v-data-table :headers="h人员" :items="l人员" :items-per-page="2000" hide-default-footer style="margin: 10px;">
				<template v-slot:item.姓名="props">
					<input v-model="props.item.姓名" @change="保存()"></input>
				</template>
				</template>
				<template v-slot:item.地址="{ item }">
					<input v-model="item.地址" @change="item.风险情况 = 计算风险地区(item.地址);保存()"></input>
				</template>
				<template v-slot:item.功能="{ item }">
					<v-chip :color="item.风险情况===0?'green':item.风险情况<5?'orange':'red'" dark>
						{{item.风险情况||0}}
					</v-chip>
					<v-icon large text @click="app.l人员.splice(app.l人员.indexOf(item), 1);保存()">mdi-delete</v-icon>
				</template>
			</v-data-table>


			<v-divider></v-divider>
			<v-card-title>
				风险地区:截至{{时间}}
				<v-spacer></v-spacer>
				<v-combobox v-model="search" append-icon="mdi-magnify" label="筛选" :items="搜索建议" multiple single-line
					hide-details chips>
				</v-combobox>
			</v-card-title>
			<v-data-table :headers="h风险地区" :items="l风险地区" :search="search.toString()" :items-per-page="2000"
				style="margin: 10px;" :sort-by="['grade']" :sort-desc="[true]" hide-default-footer
				:custom-filter="multifilter">

				<template v-slot:item.grade="{ item }">
					<v-chip :color="['','orange','red'][item.grade]" dark>
						{{ ['','中','高'][item.grade] }}
					</v-chip>
				</template>


			</v-data-table>
		</v-app>
	</div>
	<script type="text/javascript">
		计算风险地区 = s => {
			let sum = 0
			s = s.split(',').forEach(s => sum += app.l风险地区.filter(e => e.addr.indexOf(s) > -1 || e.city.indexOf(s) > -1 || e.province.indexOf(s) > -1).length)
			return sum
		}
		更新全部风险地区 = () => {
			app.l人员.forEach(i => {
				i.风险情况 = 计算风险地区(i.地址)
			})
			生成搜索建议()
		}
		保存 = () => {
			localStorage["yqdq_人员信息"] = JSON.stringify(app.l人员)
		}
		app = new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: () => ({
				l风险地区: [],
				l人员: JSON.parse(localStorage["yqdq_人员信息"] || "[]"),
				时间: "",
				search: [],
				搜索建议: [],

				h风险地区: [
					{ text: '省', value: 'province', sortable: false, },
					{ text: '市', value: 'city', sortable: false, },
					{ text: '等级', value: 'grade', sortable: false, },
					{ text: '地址', value: 'addr', sortable: false, }
				],
				h人员: [{ text: '出行计划', value: '姓名', sortable: false, },
				{ text: '地区', value: '地址', sortable: false, },
				{ text: '功能', value: '功能', sortable: false, },
				],
			}),
			methods: {
				multifilter(value, search, item) {
					search = search.split(",")
					if (search == [])
						return false
					for (i in search) {
						if (value.indexOf(search[i]) !== -1)
							return true
					}
				},


			}
		})
		fetch("https://covid.myquark.cn/quark/covid/risk-area?format=json&method=Huoshenshan.riskArea")
			.then(response => response.json())
			.then(function (body) {
				app.时间 = body.data.dateline[1]
				let l = [];
				let item = body.data.map[2]
				for (i in item) {
					item[i].forEach(element => {

						l.push(element)
					});
				}
				item = body.data.map[1]
				for (i in item) {
					item[i].forEach(element => {

						l.push(element)
					});
				}
				app.l风险地区 = l
				更新全部风险地区()
			})
		// app.search =app.search.copyWithin()
		生成搜索建议 = () => {

			let 搜索建议 = []
			app.l人员.map(i => i.地址).forEach(s => s = s.split(',').forEach(s => 搜索建议.push(s)))
			app.搜索建议 = [...new Set(搜索建议)]
		}
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function () {
				navigator.serviceWorker
					// 注册 service worker
					.register('sw.js', {
						scope: '/'
					})
					.then(function (registration) {
						// 注册成功
						// console.log(
						//     'ServiceWorker registration successful with scope: ',
						//     registration.scope
						// );
					})
					.catch(function (err) {
						// 注册失败:(
						console.log('ServiceWorker注册失败: ', err);
					});
			});
		}
	</script>
</body>

</html>